<template>
  <div class="group-page">
    <div class="left">
      <product-table
        :data="currentGroupProducts"
        v-model="selectedItemsGroup"
        :checkable="true"
        compute-summary
      />
    </div>
    <div class="divider">
      <b-button
        type="is-success"
        icon-right="chevron-left"
        :disabled="leftDisabled"
        @click="moveSelectedToGroup"
      />
      <b-button
        type="is-info"
        icon-right="chevron-right"
        :disabled="rightDisabled"
        @click="removeSelectedFromGroup"
      />
    </div>
    <div class="right">
      <product-table
        :data="warehouseProductsWithoutCurrentGroup"
        v-model="selectedItemsWH"
        :checkable="true"
        highlight-groups
        prevent-group-checking
      />
    </div>
  </div>
</template>

<script>
import ProductTable from "@/components/ProductTable";
// import api from "@/api";
import { ACTION, GETTER, MUTATION } from "@/store";
import { mapGetters, mapState } from "vuex";

export default {
  name: "GroupPage",
  components: { ProductTable },
  data: () => ({
    // data: [],
    selectedItemsWH: [],
    selectedItemsGroup: [],
  }),
  // beforeRouteUpdate(to, from, next) {
  //   // console.log("beforeRouteUpdate", to, from, next);
  //   // this.fetch(to.params?.id).then(() => next());
  //   // next();
  // },
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.commit(MUTATION.setCurrentWarehouse, +to.params.id);
      vm.$store.commit(MUTATION.setCurrentGroup, +to.params.group);
      vm.$store.dispatch(
        ACTION.loadProductsData,
        vm.$store.state.currentWarehouseID
      );
    });
  },
  // mounted() {
  //   // this.fetch();
  // },
  computed: {
    ...mapGetters([
      GETTER.currentGroup,
      GETTER.warehouseProductsWithoutCurrentGroup,
      GETTER.currentGroupProducts,
    ]),
    ...mapState(["currentGroupID"]),
    leftDisabled() {
      return !this.selectedItemsWH.length;
    },
    rightDisabled() {
      return !this.selectedItemsGroup.length;
    },
    // selectedGroup() {
    //   return this.$route.params?.group;
    // },
    // groupItems() {
    //   return this.data.filter((e) => e.Group === this.$route.params?.group);
    // },
    // warehouseItems() {
    //   return this.data.filter((e) => e.Group !== this.$route.params?.group);
    // },
  },
  methods: {
    // fetch(id) {
    //   let fetchId;
    //   if (typeof id === "number") fetchId = id;
    //   else fetchId = this.$route.params.id;
    //   return api.fetchProductsByWarehouse(fetchId).then((e) => {
    //     this.data = e;
    //   });
    // },
    moveSelectedToGroup() {
      // const updatedItems = this.selectedItemsWH
      //   .filter((e) => !~e.Group)
      //   .map((e) => ({ ...e, Group: this.currentGroupID }));
      this.$store.dispatch(ACTION.updateProductsGroup, {
        groupId: this.currentGroupID,
        barcodes: this.selectedItemsWH
          .filter((e) => !~e.Group)
          .map((e) => e.Barcode),
      });
      this.selectedItemsWH = [];
      // api
      //   .updateGroupItems(
      //     this.$route.params?.group,
      //     updatedItems.map((e) => e.Barcode)
      //   )
      //   .then((e) => {
      //     this.$buefy.toast.open(`Данные сохранены`);
      //     this.data = e;
      //   });
    },
    removeSelectedFromGroup() {
      this.$store.dispatch(ACTION.updateProductsGroup, {
        groupId: -1,
        barcodes: this.selectedItemsGroup.map((e) => e.Barcode),
      });
      this.selectedItemsGroup = [];
      // const updatedItems = this.selectedItemsGroup;
      // // .filter((e) => !e.Group && e.Group !== -1)
      // // .map((e) => ({ ...e, Group: this.selectedGroup }));
      // this.selectedItemsGroup = [];
      // api
      //   .updateGroupItems(
      //     -1,
      //     updatedItems.map((e) => e.Barcode)
      //   )
      //   .then((e) => {
      //     this.$buefy.toast.open(`Данные сохранены`);
      //     this.data = e;
      //   });
    },
  },
};
</script>

<style scoped>
.group-page.route {
  flex-flow: row nowrap;
  /* align-self: stretch; */
  /* justify-self: stretch; */
  align-items: stretch;
  justify-content: stretch;
  /* width: 100%; */
}

.left,
.right {
  flex: 1 1 50%;
  display: flex;
  flex-flow: column;
  /* width: 100%; */
}

.divider {
  flex: 1 1 75px;
  width: 75px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.button.is-success {
  margin-bottom: 50px;
}
</style>
