<template>
  <div class="inserts-page">
    <product-table
      :data="insertsData"
      :checkable="false"
      @cellclick="cellClicked"
    >
      <template #footer>
        Всего изделий со вставками: {{ insertsSummary.items }}, всего вставок:
        {{ insertsSummary.inserts }}
      </template>
    </product-table>
    <b-modal v-model="modalActive" :can-cancel="false">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <div class="item-info--container">
              <div class="item-info">
                <div class="item-info--label item-info--label--name">
                  Наименование
                </div>
                <div
                  class="item-info--value item-info--value--name"
                  v-text="insertsCurrentItem.Name"
                ></div>
              </div>
              <div class="item-info">
                <div class="item-info--label item-info--label--price">Цена</div>
                <div
                  class="item-info--value item-info--value--price"
                  v-text="insertsCurrentItem.Price"
                ></div>
              </div>
              <div class="item-info">
                <div class="item-info--label item-info--label--barcode">
                  Штрихкод
                </div>
                <div
                  class="item-info--value item-info--value--barcode"
                  v-text="insertsCurrentItem.Barcode"
                ></div>
              </div>
            </div>
            <h4>Вставки</h4>
            <h5
              v-if="
                !(
                  insertsCurrentItem.Inserts &&
                  insertsCurrentItem.Inserts.length
                )
              "
            >
              Вставок нет
            </h5>
            <div v-else class="inserts-table">
              <div class="inserts-table--header">Header</div>
              <div
                v-for="(el, idx) in insertsCurrentItem.Inserts"
                :key="idx"
                class="inserts-table--row"
              >
                {{ el.quantity }} {{ el.type }} {{ el.shape }}
                {{ el.colorGroup }}/{{ el.defectGroup }} {{ el.weight }}

                <b-button
                  class="is-danger"
                  icon-left="delete"
                  @click="removeInsert(idx)"
                />
              </div>
            </div>
            <!--            Тип камня	Форма огранки	Группа деффекта	Группа цвета	Цвет камня	Рассев	Количество	тип веса	Вес, вставки-->

            <div class="inserts-form" v-if="modalModeAdd">
              <b-field grouped>
                <b-field label="Тип">
                  <b-select placeholder="Тип" v-model="modalAddObject.type">
                    <option>Бриллиант</option>
                    <option>Рубин</option>
                    <option>Сапфир</option>
                    <option>Изумруд</option>
                  </b-select>
                </b-field>
                <b-field label="Огранка" class="field-small">
                  <b-input placeholder="Кр57" v-model="modalAddObject.shape" />
                </b-field>
                <b-field label="Цвет" class="field-small">
                  <b-input
                    placeholder="3"
                    v-model="modalAddObject.colorGroup"
                    size="2"
                  />
                </b-field>
                <b-field label="Чистота" class="field-small">
                  <b-input
                    placeholder=""
                    v-model="modalAddObject.defectGroup"
                  />
                </b-field>
                <b-field label="Количество" class="field-small">
                  <b-input placeholder="" v-model="modalAddObject.quantity" />
                </b-field>
                <b-field label="Вес, Карат" class="field-small">
                  <b-input placeholder="" v-model="modalAddObject.weight" />
                </b-field>
              </b-field>
            </div>
            <div class="actions-container">
              <b-button
                v-if="!modalModeAdd"
                icon-left="plus"
                @click="modalModeAdd = true"
              >
                Добавить
              </b-button>
              <b-button
                v-else
                icon-left="check"
                class="is-success"
                @click="addInsert"
              >
                Сохранить
              </b-button>
            </div>
          </div>
        </div>
        <div class="card-footer is-justify-content-center">
          <b-button
            class="is-success m-4"
            @click="save"
            :loading="saveButtonLoading"
            >Сохранить</b-button
          >
          <b-button class="is-danger m-4" @click="modalActive = false"
            >Закрыть</b-button
          >
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapMutations, mapState } from "vuex";
import ProductTable from "@/components/ProductTable";
import { ACTION, GETTER, MUTATION } from "@/store";

export default {
  name: "InsertsPage",
  components: { ProductTable },
  data: () => ({
    modalActive: false,
    modalModeAdd: false,
    modalAddObject: {
      type: "Бриллиант",
      shape: "",
      defectGroup: "",
      colorGroup: "",
      quantity: "0",
      weight: "0",
      // color:'Бриллиант',
    },
    saveButtonLoading: false,
  }),
  computed: {
    ...mapGetters([GETTER.insertsData, GETTER.insertsCurrentItem]),
    ...mapState(["insertsSummary"]),
  },
  methods: {
    ...mapMutations([MUTATION.setInsertsCurrentItem]),
    ...mapActions([ACTION.saveItem, ACTION.loadInsertsSummary]),
    cellClicked(object) {
      console.log(object);
      this.setInsertsCurrentItem(object);
      this.resetForm();
      this.modalActive = true;
    },

    resetForm() {
      this.modalAddObject = {
        type: "Бриллиант",
        shape: "",
        defectGroup: "",
        colorGroup: "",
        quantity: "0",
        weight: "0",
      };

      this.modalModeAdd = false;
    },

    removeInsert(index) {
      const item = { ...this.insertsCurrentItem };
      item.Inserts = [...item.Inserts];
      item.Inserts.splice(index, 1);

      this.setInsertsCurrentItem(item);
    },

    addInsert() {
      // validate form
      const obj = { ...this.modalAddObject };
      obj.shape = obj.shape.trim();
      obj.defectGroup = obj.defectGroup.trim();
      obj.colorGroup = obj.colorGroup.trim();
      obj.quantity = obj.quantity.trim();
      obj.weight = obj.weight.trim();
      obj.quantity = parseInt(obj.quantity, 10);
      obj.weight = obj.weight.replace(",", ".");
      obj.weight = parseFloat(obj.weight, 10);
      if (!obj.shape.length) {
        // show message
        this.$buefy.toast.open({
          duration: 5000,
          message: `Не указана ОГРАНКА`,
          type: "is-danger",
        });
        return;
      }
      if (!obj.defectGroup.length) {
        // show message
        this.$buefy.toast.open({
          duration: 5000,
          message: `Не указан ЧИСТОТА`,
          type: "is-danger",
        });
        return;
      }
      if (!obj.colorGroup.length) {
        // show message
        this.$buefy.toast.open({
          duration: 5000,
          message: `Не указан ЦВЕТ`,
          type: "is-danger",
        });
        return;
      }
      if (!(obj.quantity > 0)) {
        // show message
        this.$buefy.toast.open({
          duration: 5000,
          message: `Не указано КОЛИЧЕСТВО`,
          type: "is-danger",
        });
        return;
      }

      const item = { ...this.insertsCurrentItem };
      item.Inserts = [...item.Inserts, obj];

      this.setInsertsCurrentItem(item);
      this.resetForm();
    },
    save() {
      this.saveButtonLoading = true;
      this.saveItem(this.insertsCurrentItem)
        .catch((err) => {
          this.$buefy.toast.open({
            duration: 5000,
            message: `Ошибка сохранения ${err}`,
            type: "is-danger",
          });
        })
        .then(() => {
          this.modalActive = false;
          this.resetForm();
        })
        .finally(() => {
          this.saveButtonLoading = false;
        });
    },
  },
  mounted() {
    this.loadInsertsSummary();
  },
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.loadInsertsSummary();
    });
  },
  beforeRouteUpdate(to, from, next) {
    this.loadInsertsSummary();
    next();
  },
};
</script>

<style scoped>
.item-info--container {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  /* width: 100%; */
}

.item-info {
  flex: 1 1 200px;
  margin: 0.5rem;
}

.item-info--value {
  font-weight: bold;
}

.item-info--label--barcode,
.item-info--value--barcode {
  text-align: right;
}

.field-small {
  flex: 1 1 1px;
}

.inserts-table,
.inserts-form {
  margin-bottom: 1rem;
}

.inserts-table--row:hover {
  background-color: antiquewhite;
}

.inserts-table--row {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
</style>
