<template>
  <div class="warehouse-page">
    <b-table
      sort-icon="menu-up"
      sort-icon-size="is-medium"
      sticky-header
      hoverable
      focusable
      :data="namesAndTypesData"
      :row-class="rowClass"
      :loading="isLoading"
      @cellclick="onCellCLicked"
    >
      <b-table-column field="Name" label="Название" width="40%" v-slot="props">
        <template v-if="selectedIndex !== props.index">
          {{ props.row.Name }}
        </template>
        <b-input
          v-else
          v-model="name"
          @keydown.native="onKeyDown"
          :disabled="isLoading"
        />
      </b-table-column>
      <b-table-column field="Type" label="Тип" width="40%" v-slot="props">
        <template v-if="selectedIndex !== props.index">
          {{ props.row.Type }}
        </template>
        <b-select
          v-else
          :value="type"
          @input="onSelect"
          placeholder="Тип"
          :disabled="isLoading"
        >
          <option v-for="option in types" :value="option" :key="option">
            {{ option }}
          </option>
        </b-select>
      </b-table-column>
      <b-table-column field="Count" label="К-во" width="20%" v-slot="props">
        {{ props.row.Count }}
      </b-table-column>
    </b-table>
  </div>
</template>

<script>
import { ACTION, GETTER } from "@/store";
import { mapGetters, mapState } from "vuex";

export default {
  name: "TypesPage",
  components: {},
  props: {
    columns: {
      default: () => ({}),
    },
  },
  data() {
    return {
      selectedIndex: -1,
      name: "",
      type: "",
      selectedObject: {},
      isLoading: false,
    };
  },
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.isLoading = true;
      vm.$store
        .dispatch(ACTION.loadNamesAndTypes)
        .finally(() => (vm.isLoading = false));
    });
  },
  beforeRouteUpdate(to, from, next) {
    this.$store
      .dispatch(ACTION.loadNamesAndTypes)
      .finally(() => (this.isLoading = false));
    next();
  },
  computed: {
    ...mapState(["namesAndTypesData", "types"]),
    ...mapGetters([GETTER.productsWithGroup]),
  },
  methods: {
    onCellCLicked(obj, col, rowIndex) {
      this.selectedIndex = rowIndex;
      this.selectedObject = obj;
      this.name = obj.Name;
      this.type = obj.Type;
    },
    rowClass(row) {
      if (row.Type === "") {
        return "unset";
      }
      return "";
    },
    onSelect(e) {
      this.type = e;
      this.save();
    },
    onKeyDown(e) {
      if (e.key === "Enter") {
        e.preventDefault();
        this.save();
      }
    },
    save() {
      const payload = {
        ...this.selectedObject,
        Name: this.name.trim(),
        Type: this.type,
      };
      this.isLoading = true;
      this.$store.dispatch(ACTION.setNameAndType, payload).finally(() => {
        this.isLoading = false;
        this.selectedIndex = -1;
      });
    },
  },
};
</script>
<style scoped>
::v-deep .price-cell {
  font-weight: bold;
}

.b-table {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
}

::v-deep .table-wrapper.has-mobile-cards.has-sticky-header {
  flex: 1 1 1px;
  /* height: auto; */
}

::v-deep tr.table-footer {
  position: sticky;
  bottom: 0;
}

::v-deep tr.unset {
  background: wheat;
}
</style>
