<template>
  <div class="warehouse-page">
    <product-table
      :data="productsWithGroup"
      v-model="selectedItems"
      :checkable="false"
    />
  </div>
</template>

<script>
import ProductTable from "@/components/ProductTable";
import { ACTION, GETTER, MUTATION } from "@/store";
import { mapGetters, mapState } from "vuex";

export default {
  name: "WarehousePage",
  components: { ProductTable },
  data() {
    return {
      selectedItems: [],
    };
  },
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.commit(MUTATION.setCurrentWarehouse, +to.params.id);
      vm.$store.commit(MUTATION.setCurrentGroup, null);
      vm.$store.dispatch(
        ACTION.loadProductsData,
        vm.$store.state.currentWarehouseID
      );
    });
  },
  beforeRouteUpdate(to, from, next) {
    this.$store.commit(MUTATION.setCurrentWarehouse, +to.params.id);
    this.$store.dispatch(ACTION.loadProductsData, this.currentWarehouseID);
    next();
  },
  computed: {
    ...mapState(["currentWarehouseID"]),
    ...mapGetters([GETTER.productsWithGroup]),
  },
};
</script>
