<template>
  <b-navbar-item>
    <b-dropdown :value="currentGroupID" @input="onInput" aria-role="list">
      <template #trigger>
        <b-button
          :label="triggerCaption"
          type="is-primary"
          icon-right="menu-down"
        />
      </template>

      <b-dropdown-item
        v-for="group in options"
        :key="group.ID"
        :value="group.ID"
        aria-role="listitem"
      >
        <div class="media">
          <div class="media-content">
            <h3>{{ group.Name }}</h3>
          </div>
        </div>
      </b-dropdown-item>
      <b-dropdown-item :value="-1" aria-role="listitem" @click="showModal">
        <div class="media">
          <div class="media-content">
            <h3>Добавить группу</h3>
          </div>
        </div>
      </b-dropdown-item>
    </b-dropdown>
  </b-navbar-item>
</template>

<script>
import { mapGetters, mapState } from "vuex";
import { ACTION, GETTER, MUTATION } from "@/store";

export default {
  name: "GroupDropdown",
  computed: {
    ...mapState(["currentGroupID", "currentWarehouseID", "groups"]),
    ...mapGetters([GETTER.currentGroup, GETTER.currentWarehouseGroups]),
    triggerCaption() {
      if (this.groups.loading) {
        return "Загрузка";
      }
      if (this.currentGroup?.Name) {
        return this.currentGroup.Name;
      }
      return "Выберите группу";
    },
    options() {
      if (this.groups.loading) return [];

      return this.currentWarehouseGroups;
    },
  },
  methods: {
    showModal() {
      this.$buefy.dialog.prompt({
        message: `Название группы товаров`,
        inputAttrs: {
          placeholder: "Например кольца с фианитами",
          maxlength: 200,
        },
        trapFocus: true,
        onConfirm: (value) => {
          const trimmedValue = value.trim();
          trimmedValue && this.$emit("add-group", trimmedValue);

          if (trimmedValue) {
            const loadingComponent = this.$buefy.loading.open();
            this.$store
              .dispatch(ACTION.addGroup, trimmedValue)
              .then(({ group }) => {
                this.$buefy.toast.open(
                  `Группа добавлена: <b>${group.Name}</b>`
                );
                this.$store.commit(MUTATION.setCurrentGroup, group.ID);
                this.$router.push({
                  name: "group",
                  params: { id: group.WH, group: group.ID },
                });
              })
              .catch((e) => {
                console.error(e);
                this.$buefy.toast.open({
                  duration: 5000,
                  message: `ОШИБКА СОХРАНЕНИЯ ГРУППЫ: <b>${trimmedValue}</b>`,
                  type: "is-danger",
                });
              })
              .finally(() => {
                loadingComponent.close();
              });
          } else {
            this.$buefy.toast.open({
              duration: 5000,
              message: `Необходимо задать имя группы`,
              type: "is-danger",
            });
          }
          // this.$buefy.toast.open(`Группа добавлена: <b>${value}</b>`);
        },
      });
    },
    onInput(evt) {
      this.$store.commit(MUTATION.setCurrentGroup, evt);
      // this.$emit("input", this.currentWarehouseObj);
      this.$router.push({
        name: "group",
        params: { id: this.currentWarehouseID, group: evt },
      });
    },
  },
};
</script>

<style scoped></style>
