<template>
  <b-table
    :data="data"
    :columns="columns"
    sort-icon="menu-up"
    sort-icon-size="is-medium"
    sticky-header
    hoverable
    :checkable="checkable"
    focusable
    :checked-rows="value"
    @update:checkedRows="onChecked"
    :row-class="rowClass"
    @cellclick="$emit('cellclick', $event)"
  >
    <template #footer v-if="showFooter">
      <th class="is-hidden-mobile">
        <!--        <th class="is-hidden-mobile" style="width:40px">-->
        <div class="th-wrap is-numeric"></div>
      </th>
      <th class="is-hidden-mobile">
        <div class="th-wrap" :class="textClass">{{ count }} изделий</div>
      </th>
      <th class="is-hidden-mobile">
        <div class="th-wrap"></div>
      </th>
      <th class="is-hidden-mobile">
        <div class="th-wrap is-centered"></div>
      </th>
      <th class="is-hidden-mobile">
        <div class="th-wrap is-numeric" :class="textClass">{{ weight }}</div>
      </th>
      <th class="is-hidden-mobile">
        <div class="th-wrap is-numeric" :class="textClass">{{ sum }}</div>
      </th>
      <th class="is-hidden-mobile">
        <div class="th-wrap"></div>
      </th>
      <th class="is-hidden-mobile">
        <div class="th-wrap"></div>
      </th>
    </template>
    <template v-else #footer>
      <slot name="footer"></slot>
    </template>
  </b-table>
</template>

<script>
import { mapGetters } from "vuex";
import { GETTER } from "@/store";

export default {
  name: "ProductTable",
  props: {
    value: {
      type: Array,
    },
    checkable: {
      type: Boolean,
      default: false,
      required: false,
    },
    columns: {
      type: Array,
      default: () => [
        {
          field: "Name",
          label: "Название",
          // width: "40",
          // numeric: true,
          // numeric: false,
          // centered: false,
          // searchable: true,
          sortable: true,
        },
        {
          field: "Barcode",
          label: "Штрихкод",
          // numeric: true,
          // searchable: true,
          sortable: true,
        },
        {
          field: "GrCost",
          label: "Цена/гр",
          numeric: true,
          sortable: true,
        },
        {
          field: "Weight",
          label: "Вес, гр.",
          numeric: true,
          sortable: true,
        },
        {
          field: "Price",
          label: "Цена",
          numeric: true,
          sortable: true,
          cellClass: "price-cell",
        },
        {
          field: "Material",
          label: "Метал",
          sortable: true,
        },
        {
          field: "Proba",
          label: "Проба",
          sortable: true,
        },
      ],
      required: false,
    },
    data: {
      type: Array,
      default: () => [],
      required: false,
    },
    computeSummary: {
      type: Boolean,
      required: false,
      default: false,
    },
    highlightGroups: {
      type: Boolean,
      required: false,
      default: false,
    },
    preventGroupChecking: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  methods: {
    onChecked(data) {
      console.log(data);
      if (this.preventGroupChecking) {
        const items = (data || []).reduce((a, e) => {
          if (~e.Group) {
            const group = this.getGroupByID(e.Group);
            this.$buefy.toast.open({
              duration: 5000,
              message: `Товар ${e.Name} ${e.Weight}гр. с ценой ${e.Price} уже назначен в группу <b>${group.Name}</b>`,
              type: "is-danger",
            });
            // this.$buefy.toast.open(`ОШИБКА СОХРАНЕНИЯ ГРУППЫ: <b>${Name}</b>`);
          } else {
            a.push(e);
          }
          return a;
        }, []);
        this.$emit("input", items);
      } else {
        this.$emit("input", data);
      }
    },
    rowClass(row) {
      if (!this.highlightGroups) return "";
      // console.log("rowClass", row, index);
      if (row.Group !== -1 && row.Group !== undefined) {
        return "is-group";
      }
      return "";
    },
  },
  computed: {
    ...mapGetters([GETTER.getGroupByID]),
    showFooter() {
      // return this.value?.length
      return this.checkable || this.computeSummary;
    },
    textClass() {
      return {
        "has-text-primary": this.value?.length,
      };
    },
    totals() {
      let arr = this.value;
      if (this.computeSummary && !this.value?.length) {
        arr = this.data;
      }
      return (arr || []).reduce(
        (a, e) => {
          a.sum += e.Price;
          a.weight += e.Weight;
          a.count += 1;
          return a;
        },
        { sum: 0, weight: 0, count: 0 }
      );
    },
    sum() {
      return Number(this.totals.sum).toLocaleString();
    },
    weight() {
      return Number(this.totals.weight).toLocaleString();
    },
    count() {
      return Number(this.totals.count).toLocaleString();
    },
  },
};
</script>

<style scoped>
::v-deep .price-cell {
  font-weight: bold;
}

.b-table {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
}

::v-deep .table-wrapper.has-mobile-cards.has-sticky-header {
  flex: 1 1 1px;
  /* height: auto; */
}

::v-deep tr.table-footer {
  position: sticky;
  bottom: 0;
}

::v-deep tr.is-group {
  background: wheat;
}
</style>
