<template>
  <b-navbar-item>
    <b-dropdown :value="currentWarehouseID" @input="onInput" aria-role="list">
      <template #trigger>
        <b-button
          :label="triggerCaption"
          type="is-primary"
          icon-right="menu-down"
        />
      </template>

      <b-dropdown-item
        v-for="wh in options"
        :key="wh.ID"
        :value="wh.ID"
        aria-role="listitem"
      >
        <div class="media">
          <div class="media-content">
            <h3>{{ wh.Name }}</h3>
          </div>
        </div>
      </b-dropdown-item>
    </b-dropdown>
  </b-navbar-item>
</template>

<script>
import { mapGetters, mapState } from "vuex";
import { GETTER, MUTATION } from "@/store";

export default {
  name: "WarehouseDropdown",
  props: {
    // value: {
    //   type: null,
    // },
    // list: {
    //   type: null,
    // },
  },
  computed: {
    // ...mapState({
    //   currentWarehouseID: "currentWarehouseID",
    //   warehouse: "warehouse",
    // }),
    ...mapState(["currentWarehouseID", "warehouse"]),
    ...mapGetters([GETTER.currentWarehouse]),
    triggerCaption() {
      if (this.warehouse.loading) {
        return "Загрузка";
      }
      if (this.currentWarehouse?.Name) {
        return this.currentWarehouse.Name;
      }
      return "Выберите склад";
    },
    // selectedValue() {
    //   if (!this.value) {
    //     return {
    //       ID: -1,
    //       Name: "Загрузка",
    //     };
    //   }
    //   return this.value;
    // },
    options() {
      if (this.warehouse.loading) return [];

      return this.warehouse.data;
    },
  },
  methods: {
    onInput(evt) {
      this.$store.commit(MUTATION.setCurrentWarehouse, evt);
      this.$store.commit(MUTATION.setCurrentGroup, null);
      // this.$emit("input", this.currentWarehouseObj);
      this.$router.push({ name: "inserts", params: { id: evt } });
    },
  },
};
</script>

<style scoped></style>
