<template>
  <div id="app">
    <b-navbar>
      <template #start>
        <!--        <group-dropdown />-->
        <b-navbar-item>
          <b-input :value="searchValue" @input="onInput" type="number" />
        </b-navbar-item>
      </template>
      <template #end>
        <b-navbar-item>
          <b-button @click="onAddType" type="is-success">Новый тип</b-button>
        </b-navbar-item>
        <b-navbar-item>
          <router-link :to="{ name: 'types' }">Types</router-link>
        </b-navbar-item>
        <b-navbar-item>
          <b-button @click="onExportClick">Export</b-button>
        </b-navbar-item>
        <warehouse-dropdown />
      </template>
    </b-navbar>
    <router-view class="route"></router-view>
  </div>
</template>

<script>
import WarehouseDropdown from "@/components/WarehouseDropdown";
// import GroupDropdown from "@/components/GroupDropdown";
import { ACTION, GETTER, MUTATION } from "@/store";
import { mapActions, mapGetters, mapMutations } from "vuex";

export default {
  name: "App",
  components: {
    // GroupDropdown,
    WarehouseDropdown,
  },
  mounted() {
    this.$store.dispatch(ACTION.loadWarehousesData);
    this.$store.dispatch(ACTION.loadGroupsData);
  },
  computed: {
    ...mapGetters([GETTER.searchValue]),
  },
  methods: {
    ...mapActions([ACTION.performSearch, ACTION.exportData]),
    ...mapMutations([MUTATION.setSearchValue]),
    onInput(val) {
      if (val.length > 3)
        this.performSearch({ warehouse: this.$route.params.id, term: val });
      else this.setSearchValue(val);
    },
    onExportClick() {
      this.exportData().then((data) => {
        console.log(data);
      });
    },
    onAddType() {
      this.$buefy.dialog.prompt({
        message: `Новый тип`,
        inputAttrs: {
          placeholder: "например, Кольцо",
          maxlength: 100,
        },
        trapFocus: true,
        onConfirm: (value) =>
          this.$store.commit(MUTATION.setType, [value.trim()]),
      });
    },
  },
};
</script>

<style lang="css" scoped>
#app {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.route {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
}
</style>
<style lang="css">
html,
body {
  overflow: auto;
}
</style>
